.upImgBox {
    background-color: white;
    position: absolute;
    top: 0.4rem;
    bottom: 5.6rem;
    left: 0.4rem;
    right: 0.4rem;
}

p {
    text-align: center;
}

.p1Pos {
    margin-top: 0.5rem;
}

.p2Color {
    font-size: 0.3rem;
    color: #7a7a7a;
}

.upImgBtn {
    border: 1px dashed #86CD74;
    width: 94%;
    height: 70%;
    position: relative;
    left: 0.2rem;
    top: 0.4rem;

}

.upImgBtn img {
    width: 1.5rem;
}

.upImgBtn p {
    clear: both;
    color: #C9C9C9;
    position: relative;
    top: 0.4rem;
}

.imgC {
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: -0.6rem;
}

.btn {
    background-color: #86CD74;
    position: absolute;
    top: 8.1rem;
    right: 1.5rem;
    bottom: 4.4rem;
    left: 1.5rem;
    border-radius: 50px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.4rem;
}
.inputImg{
    position: fixed;
    width: 90%;
    height: 55%;
    z-index: 99;
    opacity: 0;
}
